<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }} \ {% endif %}{{ site.title }}</title>

	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
<header>
	<div class="foo">
		<a href="{{ '/' | relative_url }}" id="logo">~<span id="logo-full">rpthibeault</span></a>
	</div>
</header>

<!-- The 3-Column Layout Wrapper -->
<div class="global-grid">
	<!-- LEFT SIDEBAR -->
	<aside class="sidebar-left">
		<div class="sidebar-inner">
			{% if page.layout == 'post' %}
			<nav id="toc"></nav>
			{% endif %}
		</div>
	</aside>

	<!-- MAIN CONTENT -->
	<main class="main-column">
	{{ content }}
	</main>

	<!-- RIGHT SIDEBAR -->
	<aside class="sidebar-right">
		<div class="sidebar-inner">
			{% if page.layout == 'post' %}
				{% if page.notes %}
				<p>{{ page.notes }}</p>
				{% endif %}
			{% endif %}
		</div>
	</aside>

</div>
</body>
</html>
